<form action='/profile/edit' enctype="multipart/form-data" method='POST'>

  <div class="signup-name">
    <label for='firstName'><i class="fas fa-user"></i></label>
      <input type='text' name='firstName' value="{{user.name.firstName}}">
    <label for='lastName'><i class="fas fa-user hidden"></i></label>
      <input type='text' name='lastName'value="{{user.name.lastName}}">
  </div>

  <div class="singup-data">
  <label for='age'><i class="fas fa-baby-carriage"></i></label>
    <input type='number' name='age' value="{{user.age}}">
  <label for='gender'><i class="fas fa-users"></i></label>
    <select name='gender'>
      <option value="na">I'd prefer not saying</option>
      <option value="female">Female</option>
      <option value="male">Male</option>
      <option value="non-binary">Non binary</option>
      <option value="other">Other</option>
      <option value="undefined">Undefined</option>
    </select>
  </div>

  <div class="signup-city">
    <label for='street'><i class="fas fa-map-marker-alt"></i></label>
      <input class="street-input" type='text' name='street' value="{{user.address.street}}">
  </div>

  <div class="postcode">
    <label for='city'><i class="fas fa-city"></i></label>
      <input type='text' name='city' value="{{user.address.city}}">
    <label for='postcode'><i class="fas fa-mail-bulk"></i></label>
      <input type='text' name='postcode' value="{{user.address.postcode}}">
  </div>
  
  <div class="signup-county">
    <label for='state'><i class="fas fa-map-signs"></i></label>
      <input type='text' name='state' value="{{user.address.state}}">

    <label for='country'><i class="fas fa-globe-europe"></i></label>
      <input type='text' name='country' value="{{user.address.country}}">
  </div>  

  <div class="signup-image">
    <label for='picture'><i class="fas fa-camera-retro"></i></label>
     <input  class="upload-file" type='file' name='image' placeholder="Add your profile picture here">
  </div>  

  <button class="edit-profile-btn" type='submit'>Edit Your Info</button>
  
  <a class="backToProfile" href="/profile">Back to profile</a>
</form>


<div class="splash-container">
  <img class="splash" src="/images/cmyk_dots.svg" alt="splash">
</div>