<div class="details-wrapper card">
    <div class="details-img">
        <img src="{{this.url}}" alt="{{this.name}}">
    </div>
    <div class="designer-details">
        <div class="designer-data">
            <span>Created by</span>
            <a href="/user/{{this.userId._id}}">
                <p>{{this.userId.name.firstName}}</p>
                <p>{{this.userId.name.lastName}}</p>
                <div class="designer-data-img-wrapper">
                    <img src="{{this.userId.picture}}" alt="">
                </div>
            </a>
        </div>
        <div class="title flex">
            <h2>{{this.name}}</h2>
        </div>

        <div class="votes-result flex">
            <h2>Votes: {{this.votes}}</h2>
            <h2>Rating: {{this.rating}}</h2>
        </div>
        
        <div class="product-details flex">
            <h3>Product details:</h3>
            <p>{{this.description}}</p>
        </div>
    </div>

</div>