<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Community Designs</title>
  <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
    crossorigin="anonymous" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://js.stripe.com/v3/"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
</head>

<body>
  {{#if logged}}

  <nav class="navbar flexsb">
    <div class="logo flex">
      <div class="img-wrapper flex">
        <img src="/images/cmyk_dots_logo.svg" alt="logo">
      </div>
      <a href="/">Community Designs</a>
    </div>
    <div class="userform">
      <ul class="flexsb">
        <li class="buy-text flex"><a class="buy-hover" href="/products">Buy</a></li>
        <li class="buy-icon flex"><a href="/products"><i class="fas fa-money-bill-wave"></i></i></a></li>
        <li class="vote-text flex"><a class="vote-hover" href="/vote">Vote</a></li>
        <li class="vote-icon flex"><a href="/vote"><i class="fas fa-thumbs-up"></i></i></a></li>
        <li class="cart-text flex"><a href="/cart">Cart</a></li>
        <li class="cart-icon flex"><a href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
        <li class="profile-icon flex"><a href="/profile"><i class="fas fa-user"></i></a></li>
        {{#unless profile}}
        <li class="profile-text flex">
          <a href="/profile" class="nameImgLink">
            <p>{{logged.name.firstName}} {{logged.name.lastName}}</p>
            <div class="navbar-img-container">
              <img src="{{logged.picture}}" alt="user-picture">
            </div>
          </a>
        </li>
        {{/unless}}
        <li class="logout-text flex"><a href="/auth/logout">Log Out</a></li>
        <li class="logout-icon flex"><a href="/auth/logout"><i class="fas fa-sign-out-alt"></i></a></li>
      </ul>
    </div>
  </nav>

  {{else}}

  <nav class="navbar flexsb">
    <div class="logo flex">
      <div class="img-wrapper flex">
        <img src="/images/cmyk_dots_logo.svg" alt="logo">
      </div>
      <a href="/">Community Designs</a>
    </div>
    <div class="userform">
      <ul class="flexsb">
        <li class="buy-text flex"><a class="buy-hover" href="/products">Buy</a></li>
        <li class="buy-icon flex"><a href="/products"><i class="fas fa-thumbs-up"></i></i></a></li>
        <li class="vote-text flex"><a class="vote-hover" href="/vote">Vote</a></li>
        <li class="vote-icon flex"><a href="/vote"><i class="fas fa-money-bill-wave"></i></i></a></li>
        <li class="login-text flex"><a href="/auth/login">Log In</a></li>
        <li class="login-icon flex"><a href="/auth/login"><i class="fas fa-sign-in-alt"></i></a></li>
        <li class="signup-text flex"><a href="/auth/signup">Sign Up</a></li>
        <li class="signup-icon flex"><a href="/auth/signup"><i class="fas fa-user-plus"></i></a></li>
      </ul>
    </div>
  </nav>

  {{/if}}

  <div class="page-wrapper">
    {{{body}}}
  </div>


  {{!-- <footer class="footer flex">
    <p>Designed and developed by Aleix Badia & Fede Muniente at Ironhack Barcelona | &copy; 2021</p>
  </footer> --}}

  <script>
    (function (apiKey) {
      (function (p, e, n, d, o) {
        var v, w, x, y, z;
        o = p[d] = p[d] || {};
        o._q = o._q || [];
        v = ['initialize', 'identify', 'updateOptions', 'pageLoad', 'track']; 
        for (w = 0, x = v.length; w < x; ++w)(function (m) {
          o[m] = o[m] || function () { o._q[m === v[0] ? 'unshift' : 'push']([m].concat([].slice.call(arguments, 0))); };
        })(v[w]);
        y = e.createElement(n); y.async = !0; y.src = 'https://cdn.eu.pendo.io/agent/static/' + apiKey + '/pendo.js';
        z = e.getElementsByTagName(n)[0]; z.parentNode.insertBefore(y, z);
      })(window, document, 'script', 'pendo');

      // Call this whenever information about your visitors becomes available
      // Please use Strings, Numbers, or Bools for value types.
      pendo.initialize({
        visitor: {
          id: 'VISITOR-UNIQUE-ID'   // Required if user is logged in
          // email:        // Recommended if using Pendo Feedback, or NPS Email
          // full_name:    // Recommended if using Pendo Feedback
          // role:         // Optional

          // You can add any additional visitor level key-values here,
          // as long as it's not one of the above reserved names.
        },

        account: {
          id: 'ACCOUNT-UNIQUE-ID' // Required if using Pendo Feedback
          // name:         // Optional
          // is_paying:    // Recommended if using Pendo Feedback
          // monthly_value:// Recommended if using Pendo Feedback
          // planLevel:    // Optional
          // planPrice:    // Optional
          // creationDate: // Optional

          // You can add any additional account level key-values here,
          // as long as it's not one of the above reserved names.
        }
      });
    })('576c357b-57a8-4483-7cb7-f8b3c6cd12b4');
  </script>
</body>

</html>