{{#if user.display}}
<h2>This is your cart</h2>
<ul>
    {{#each user.currentCart}}
    <li>
        <h4>{{this.designId.name}}</h4>
        <img src="{{this.designId.url}}" alt="">
        <p>{{this.designId.description}}</p>
        <p>{{this.quantity}}u x {{this.designId.price}}€ = {{this.subtotal}}€</p>
        <form action='/cart/delete' method='POST'>
            <input type='text' name='designId' value={{this.designId._id}} style="display: none">
            <button type='submit'>Delete</button>
        </form>
    </li>
    {{/each}}
</ul>

<h4>Cart total = {{user.subtotal}}€</h4>
<h4>Shipping = {{user.shipping}}€</h4>
<h3>TOTAL = {{user.total}}€</h3>
<button type="button" id="checkout-button">Checkout</button>

{{else}}
<h2>Your cart is empty</h2>
{{/if}}


<script type='text/javascript'>
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe("{{stripePK}}");
    var checkoutButton = document.getElementById("checkout-button");
    checkoutButton.addEventListener("click", function () {
        console.log("before fetch");
        fetch("/create-checkout-session/{{user._id}}", {
            method: "POST",
        })
            .then(function (response) {
                console.log("Response after fetch: ", response);
                return response.json();
            })
        .then(function (session) {
            console.log("Response after response: ", session);
            return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function (result) {
            // If redirectToCheckout fails due to a browser or network
            // error, you should display the localized error message to your
            // customer using error.message.
            if (result.error) {
                alert(result.error.message);
            }
        })
        .catch(function (error) {
            console.error("Error:", error);
        });
    });
</script>

<!--
    <form class="stripe-form" id="payment-form">
    <div id="card-element">

    </div>
    <button class="stripe-button" id="submit">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Pay now</span>
    </button>
    <p id="card-error" role="alert"></p>
    <p class="result-message hidden">
        Payment succeeded, see the result in your
        <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
    </p>
</form>
-->