<div class="gallery">
    {{#each data}}
    <div class="card">
        <h3>{{this.name}}</h3>
        <img src="{{this.url}}" alt="{{this.name}}">
        {{#if this.vote}}
            <a class="card-vote" href="/vote/{{this._id}}">Vote this product</a>
        {{else}}
            <a class="card-buy" href="/products/{{this._id}}">Buy this product</a>
        {{/if}}
    </div>
    {{/each}}
</div>