{{#if products}}
<form action='/products' class="searchbar sb-buy flex" method='GET'>
  <input type='text' name='search' placeholder="Search something">
  <button type='submit'>Find a design</button>
</form>
{{else}}
<form action='/vote' class="searchbar sb-vote flex" method='GET'>
  <input type='text' name='search' placeholder="Search something">
  <button type='submit'>Find a design</button>
</form>
{{/if}}

<div class="gallery">
  {{#each data}}
  <div class="card">
    <h3>{{this.name}}</h3>
    {{#if this.vote}}
      <a class="card-img-wrapper" href="/vote/{{this._id}}">
        <img src="{{this.url}}" alt="{{this.name}}">
      </a>
      <a class="card-vote" href="/vote/{{this._id}}">Vote this product</a>
    {{else}}
      <a class="card-img-wrapper" href="/products/{{this._id}}">
        <img src="{{this.url}}" alt="{{this.name}}">
      </a>
      <a class="card-buy" href="/products/{{this._id}}">Buy this product</a>
    {{/if}}
  </div>
  {{/each}}
</div>